
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}
.no-horizontal-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-fluid.custom-container {
    background: #eaeef0;
    text-align: center;
    padding: 30px;
}

.custom-navbar {
    margin-bottom: 0;
}
